<% let a= 6%>
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>EJS</title>
  </head>
  <body>
    <form class="" action="/tinhtoan" method="post">
    <input type="text" name="so1" value="" placeholder="So 1">
    <input type="text" name="phepTinh" value="" placeholder="Phep tinh">
    <input type="text" name="so2" value="" placeholder="So 2">
    <input type="submit" value="Ok">
    </form>
  <%if(isAdmin == true){%>
    <a href="#">Quan Tri</a>
   <%}%>
   <img src="s/1.jpg" alt="">
  </body>
</html>
